# Environment Variables
.env

# Go binaries and build outputs
*.exe
*.out
*.app
*.dll
*.so
*.dylib

# PlatformIO
.pio/
lib/

# VS Code / IDE
.vscode/
*.swp
.idea/

# OS specific files
.DS_Store
Thumbs.db

# LittleFS / Simulation data
*.dat

# Logs
*.log
